@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nunito+Sans:wght@200;300;400;600&family=Poppins:wght@400;500;600;700&family=Titan+One&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #000;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(#f00 50%, #fff 50%);
  border-radius: 5rem;
}

body {
  background: #000;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(130deg, #f00 93%, transparent 90%);
  font-size: 1.7rem;
}
.btn:hover {
  transform: scale(1.1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
  background: #000;
  z-index: 10000;
}
.header .logo {
  font-weight: bolder;
  color: #f00;
  font-size: 3rem;
}
.header .logo span {
  color: #fff;
}
.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}
.header .navbar a:hover {
  background: #f00;
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  margin-top: 6.5rem;
}
.home .slide {
  min-height: 70vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
}
.home .slide .content {
  width: 60rem;
}
.home .slide .content span {
  font-size: 2rem;
  color: #f00;
  display: block;
}
.home .slide .content h3 {
  font-size: 5rem;
  color: #fff;
  padding: 1rem 0;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f00;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem;
  background-color: red;
}
.about .image {
  flex: 1 1 42rem;
  position: relative;
}
.about .image img {
  width: 100%;
  padding: 2rem;
  background-color: blue;
}
.about .content {
  flex: 1 1 42rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide {
    padding: 2rem 5%;
  }
  .home .slide .content {
    width: 50rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}/*# sourceMappingURL=styles.css.map */